@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Prompt', sans-serif;
}

.form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 3px 0 #ababab;
    background-color: #F8F7F8;
    max-width: 800px;
    padding: 0;


}

.form div{
    width: 300px;
    padding-bottom: unset;
    margin-bottom: 10px;

}

.form div:nth-child(1){
    width: 100%;
    text-align: center;
}

.inscription {
    background: linear-gradient(25deg, rgba(4, 25, 66, 1), rgba(16, 118, 255, 1));
    height: 70px;
    width: auto;
    color: white;
    font-size: 14px;

    padding: 0;

}

.prenom, .nom, .date, .email, .password, .confirm{
    width: 280px;
    border:0 none;
    outline:0;
    flex-direction: column;
    position: center;
}

label{
    display: block;

}
#checkbox {
    display: flex;
    font-size: small;

}
.agree{
    display: grid;
    grid-template-columns: 10% 90% ;
}

input[type=password], input[type=email], input[type=date], input[type=text] {
    box-shadow: 0 2px 3px 0 #ababab;
    border: none;
    width: 280px;
    margin-bottom: 15px;
    height: 40px !important; 
}

.button {
    color: white;
    background-color: #1076FF;
    border: none;
    height: 40px;
    width: 280px;

}
